<html>
    <title>Netatmo dashboard</title>
    <head>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css?family=Kadwa:700&display=swap');

            :root {
                --color-red: #ef5350;
                --color-red-translucent: rgba(239, 83, 80, .85);
                --color-red-dark: #e53935;
                --color-red-dark-translucent: rgba(229, 57, 53, .85);
                --color-yellow: #ffa726;
                --color-yellow-translucent: rgba(255, 167, 38, .85);
                --color-yellow-dark: #fb8c00;
                --color-yellow-dark-translucent: rgba(251, 140, 0, .85);
                --color-green: #66bb6a;
                --color-green-translucent: rgba(102, 187, 106, .85);
                --color-green-dark: #397D02;
                --color-green-dark-translucent: rgba(67, 160, 71, .85);
                --color-grey: #d3d3d3;
                --color-grey-translucent: rgba(211, 211, 211, .85);
                --color-grey-dark: #696969;
                --color-grey-dark-translucent: rgba(105, 105, 105, .85);
                --color-white: #fffded;
                --color-black: #2d2d2d;
                --color-black-translucent: rgba(0, 0, 0, .14);
                --color-light-blue: #BEE3F8;
                --color-light-blue-translucent: rgba(190, 227, 248, .85);
                --color-light-blue-dark: #90CDF4;
                --color-light-blue-dark-translucent: rgba(144, 205, 244, .85);
                --color-heavy-blue: #2B6CB0;
                --color-heavy-blue-translucent: rgba(43, 108, 176, .85);
                --color-heavy-blue-dark: #2A4365;
                --color-heavy-blue-dark-translucent: rgba(42, 67, 101, .85);
            }

            * {
                font-family: 'Kadwa', serif;
                font-size: 5vh;
                box-sizing: border-box;
            }

            html,
            body {
                padding: 0;
                margin: 0;
                height: 100%;
            }

            svg {
                height: .5rem;
                fill: var(--color-black);
            }

            .dashboard {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                padding: 5px;
                height: 100%;
            }

            .dashboard-item-container {
                text-align: center;
                padding: 5px;
                height: {{ 100 / (data|length / columns)|round(0, 'ceil') }}%;
                flex-basis: {{ (data|length >= columns) ? (100 / columns) : (100 / data|length) }}%;
            }

            .dashboard-item {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                color: var(--color-black);
                padding: 0 10px;
            }

            .dashboard-item--offline {
                background: linear-gradient(60deg, var(--color-grey-translucent), var(--color-grey-dark-translucent)) !important;
                box-shadow: 0 4px 20px 0 var(--color-black-translucent), 0 7px 10px -5px var(--color-grey-dark-translucent) !important;
                text-decoration: line-through !important;
            }

            .dashboard-item__co2--ok {
                background: linear-gradient(60deg, var(--color-green-translucent), var(--color-green-dark-translucent));
                box-shadow: 0 4px 20px 0 var(--color-black-translucent), 0 7px 10px -5px var(--color-green-dark-translucent);
            }

            .dashboard-item__co2--warning {
                background: linear-gradient(60deg, var(--color-yellow-translucent), var(--color-yellow-dark-translucent));
                box-shadow: 0 4px 20px 0 var(--color-black-translucent), 0 7px 10px -5px var(--color-yellow-dark-translucent);
            }

            .dashboard-item__co2--danger {
                background: linear-gradient(60deg, var(--color-red-translucent), var(--color-red-dark-translucent));
                box-shadow: 0 4px 20px 0 var(--color-black-translucent), 0 7px 10px -5px var(--color-red-dark-translucent);
                animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
            }

            .dashboard-item__rain {
                background: linear-gradient(60deg, var(--color-light-blue-translucent), var(--color-light-blue-dark-translucent));
                box-shadow: 0 4px 20px 0 var(--color-black-translucent), 0 7px 10px -5px var(--color-light-blue-dark-translucent);
            }

            .dashboard-item__rain--raining {
                background: linear-gradient(60deg, var(--color-heavy-blue-translucent), var(--color-heavy-blue-dark-translucent));
                box-shadow: 0 4px 20px 0 var(--color-black-translucent), 0 7px 10px -5px var(--color-heavy-blue-dark-translucent);
                animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
            }

            .dashboard-item__footer {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            .dashboard-item__appendix {
                display: flex;
                align-items: center;
                flex-direction: row;
            }

            .temperature {
                display: flex;
                height: 100%;
                align-items: center;
                flex-direction: row;
            }

            .temperature__degrees {
                font-size: {{ 100 / columns|round(0, 'floor') * 0.3 }}vw;
            }

            .temparature__appendix {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .temperature__trend {
                color: var(--color-black);
                font-size: .9rem;
                font-weight: 100;
                text-shadow: 1px 0 var(--color-grey-dark);
            }

            .temperature__trend--stable {
                text-shadow: none;
            }

            .temperature__trend--up {
                color: var(--color-green-dark);
            }

            .temperature__trend--down {
                color: var(--color-red-dark);
            }

            .rain {
                display: flex;
                height: 100%;
                align-items: center;
                flex-direction: row;
            }

            .rain__mm-per-hour {
                font-size: {{ 100 / columns|round(0, 'floor') * 0.3 }}vw;
            }

            .rain__appendix {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .battery__unit,
            .humidity__unit,
            .temperature__unit,
            .rain__unit {
                font-size: .7rem;
                font-weight: 100;
                margin-right: 10px;
            }

            .station-name {
                font-weight: bold;
            }

            .battery,
            .humidity {
                display: flex;
                align-items: center;
            }

            @keyframes pulse-dot {
                0% {
                    transform: scale(.99);
                }
                50% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(.99);
                }
            }
        </style>

        <meta http-equiv="refresh" content="120">
    </head>
    <body>
        <div class="dashboard">
            {% for entry in data %}
                {% if entry.type == 'NAModule3' %}
                    {% include 'rain-module.html.twig' with { name: entry.module_name, rain_24: entry.dashboard_data.sum_rain_24, is_raining: entry.dashboard_data.Rain, battery: entry.battery_percent, lastSeen: entry.last_seen } only %}
                {% else %}
                    {% include 'default-module.html.twig' with { name: entry.module_name, temperature: entry.dashboard_data.Temperature, temperature_trend: entry.dashboard_data.temp_trend, humidity: entry.dashboard_data.Humidity, co2: entry.dashboard_data.CO2, battery: entry.battery_percent, lastSeen: entry.last_seen } only %}
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html>
