<html>
    <title>Netatmo dashboard</title>
    <head>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
            @import url('https://fonts.googleapis.com/css?family=Exo:200&display=swap');

            :root {
                --color-red: #ef5350;
                --color-red-dark: #e53935;
                --color-yellow: #ffa726;
                --color-yellow-dark: #fb8c00;
                --color-green: #66bb6a;
                --color-green-dark: #43a047;
                --color-grey-light: #fbfaf1;
                --color-grey-dark: #546e7a;
                --color-white: #fffded;
            }

            * {
                font-family: 'PT Sans Caption', sans-serif;
                font-size: 6vh;
                box-sizing: border-box;
            }

            html,
            body {
                padding: 10px;
                margin: 0;
                background-color: var(--color-grey-light);
            }

            table {
                max-height: calc(100vh - 20px);
                height: 100%;
                width: 100%;
                display: table;
                border-spacing: 0;
                border-collapse: collapse;
                box-shadow: 0 0 0 3px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
                border-radius: 4px;
                background-color: var(--color-white);
            }

            tr {
                vertical-align: middle;
            }

            tr:hover {
                background-color: rgba(0, 0, 0, .07);
            }

            tr td:first-child {
                width: 1.5rem;
                text-align: center;
            }

            tr td:nth-child(2),
            tr td:nth-child(3) {
                font-weight: bold;
            }

            td {
                padding: 10px;
                border-bottom: 3px solid var(--color-grey-light);
            }

            tr:last-child td {
                border-bottom: 0;
            }

            td img {
                height: 0.6rem;
                opacity: 0.3;
            }

            .battery,
            .battery span {
                display: flex;
                width: 15px;
                font-size: 12px;
                line-height: 12px;
                align-items: flex-end;
            }

            .battery {
                background-color: var(--color-grey-light);
                position: relative;
                height: 100%;
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(63, 63, 68, .4);
            }

            .battery .percentage {
                font-family: 'Exo', sans-serif;
                font-weight: 100;
                letter-spacing: 2;
                position: absolute;
                left: 0;
                bottom: 0;
                opacity: 1;
                transform: rotate(-90deg);
            }

            .battery span {
                padding-left: 5px;
                opacity: 0.8;
            }

            .battery span.green {
                background: linear-gradient(60deg, var(--color-green), var(--color-green-dark));
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4);
            }

            .battery span.red {
                background: linear-gradient(60deg, var(--color-red), var(--color-red-dark));
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
            }

            .temperature-trend {
                color: var(--color-grey-dark);
                font-size: .8rem;
                font-weight: 100;
            }

            .temperature-trend.up {
                color: var(--color-green);
            }

            .temperature-trend.down {
                color: var(--color-red);
            }

            .unit {
                font-size: .5rem;
                color: var(--color-grey-dark);
                font-weight: 100;
            }

            .co2 {
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
            }

            .co2.ok {
                background: linear-gradient(60deg, var(--color-green), var(--color-green-dark));
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4);
            }

            .co2.warning {
                background: linear-gradient(60deg, var(--color-yellow), var(--color-yellow-dark));
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
            }

            .co2.danger {
                background: linear-gradient(60deg, var(--color-red), var(--color-red-dark));
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
                animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
            }

            .offline {
                text-decoration: line-through;
                color: #666;
            }

            @keyframes pulse-dot {
                0% {
                    transform: scale(.9);
                }
                50% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(.9);
                }
            }
        </style>

        <meta http-equiv="refresh" content="120">
    </head>
    <body>
        <table cellpadding="0" cellspacing="0">
            {% for entry in data %}
                {% if entry.type == 'NAMain' %}
                    {% include 'entry.html.twig' with { name: entry.module_name, temperature: entry.dashboard_data.Temperature, temperature_trend: entry.dashboard_data.temp_trend, humidity: entry.dashboard_data.Humidity, co2: entry.dashboard_data.CO2 } only %}
                {% else %}
                    {% include 'entry.html.twig' with { name: entry.module_name, temperature: entry.dashboard_data.Temperature, temperature_trend: entry.dashboard_data.temp_trend, humidity: entry.dashboard_data.Humidity, battery: entry.battery_percent, co2: entry.dashboard_data.CO2, lastSeen: entry.last_seen } only %}
                {% endif %}
            {% endfor %}
        </table>
    </body>
</html>
