<html>
<title>Netatmo dashboard</title>
<head>
    <meta http-equiv="refresh" content="20">
</head>
<body>
<pre style="height: 100vH; display: flex; align-items: center; justify-content: center; font-size: 8rem;">¯\_(ツ)_/¯</pre>
</body>
</html>
